# core ML & NLP
torch>=1.13.1
transformers>=4.30.0

# data handling & preprocessing
numpy>=1.24.3
pandas>=2.0.2
nltk>=3.8.1
datasets>=2.13.1
kaggle>=1.5.17

# modeling utilities
scikit-learn>=1.2.2
tqdm>=4.65.0

# visualization & EDA
matplotlib>=3.7.1
seaborn>=0.12.2
tabulate>=0.8.10